*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  color: #363738;
  background-color: #fcfcfd;
  font-family: Noto Sans Mono, sans-serif;
  font-size: 16px;
  line-height: 1;
}
:root {
--pink:#fb508eed;
--purple: #9864daed;
--aqua:#28eea7ed;
}
.header-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  position: relative;
}
.left-header{
  display: flex;
  width: 50%;
  flex-direction: column;
  position: relative;
  background-image: url(assets/left-side.png);
  background-size:cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.right-header{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(assets/right-side.png);
  background-size:cover;
  background-repeat: no-repeat;
  justify-content: center;

}

@keyframes colorChange {
  0%   { background-color: var(--aqua); }
  10%  { background-color: var(--aqua); }
  20%  { background-color: var(--aqua); }
  30%  { background-color: var(--aqua); }
  40%  { background-color: var(--purple);}
  50%  { background-color: var(--purple); }
  60%  { background-color: var(--purple); }
  70%  { background-color: var(--purple); }
  80%  { background-color: var(--pink); }
  90%  { background-color: var(--pink); }
  100%  { background-color: var(--pink); }
}
.layer{
  position: absolute;
  top:0;
  right:0 ;
  bottom:0 ;
  left: 0;
  animation: colorChange 8s infinite;
  filter:opacity(0.7)
}
.back{
  max-height: 100%;
  max-width: 100%;
}
.logo{
  position:absolute;
  top: 50px;
  left: -100px;
  z-index: 2;
  width:40%;
  height: 40%;
}
.menu{
  position:absolute;
  z-index: 2;
  max-width: 20%;
  max-height: 20%;
  cursor: pointer;
  top: 50px;
  right: 10px;
  background-color: #363738;
}
.details-left{
  height: 40vh;
  max-height: 100vh;
  max-width: 645px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 70px;
  padding-right: 50px;
  display: flex;
  z-index: 5;
  padding-top: 10px;
}
.details-right{
  height: 40vh;
  max-height: 100vh;
  max-width: 645px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 70px;
  padding-right: 50px;
  display: flex;
  z-index: 5;
  padding-top: 10px;

}

.hero-title-1 {
  text-align: right;
  text-transform: uppercase;
  flex: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Noto Sans Mono, sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 0;
}
.hero-title-2 {
  font-family: Noto Sans Mono, sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 0;
}
.sub-h1-bg {
  color: #fcfcfd;
  text-transform: uppercase;
  background-color: #363738;
  justify-content: flex-end;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 24px;
  line-height: 2.5;
  display: flex;
  font-family: Noto Sans Mono, sans-serif;
}

.nav{
  display: flex;
  flex: row;
  width: 100%;
  height: 17%;
  justify-content: center;
  align-items: center;
  z-index: 8;
  position: absolute;
}
.changing-text::after {
  animation: changeText 1s infinite;
  z-index: 10;
}
.hero-description{
  min-height: 10ch;
  text-align: right;
  flex: 1;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 1.5;
  text-decoration: none;
  font-family: Noto Sans Mono, sans-serif;
  color: white;
  flex-wrap: wrap;
  justify-self: end;
}
.cursor {
  animation: blinkCursor 1s infinite;
  z-index: 10;
}

@keyframes changeText {
  0% { content: "Hello, World!"; }
  25% { content: "How are you?"; }
  50% { content: "I hope you're well."; }
  75% { content: "Have a nice day!"; }
  100% { content: "Goodbye!"; }
}

@keyframes blinkCursor {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/*After this line come the second section style*/
.circle-icons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}
.circle-div-icon {
  width: 24px;
  height: 24px;
  background-color: #dcdee1;
  border-radius: 20px;
}

.circle-div-icon.black{
  background-color: black;
}
.circle-div-icon.grey{
  background-color: #dcdee1;
}
.circle-div-icon.aqua{
  background-color: var(--aqua);
}
.second-section-hello{
color: #363738;
text-align: left;
flex-grow: 1;
text-transform: uppercase;
margin-bottom: 10px;
font-size: 24px;
font-weight: 900;
margin-left: 5%;
margin-right: 5%;

}
.second-section{
margin-top: 0;
}
.second-section-header{
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding-top: 5%;

}
.second-section-body {
    max-width: 100%;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    box-sizing: border-box;
    background-color: #fff;
}
.symbol{
  color: var(--aqua);
  font-size: 24px;
font-weight: 900;
flex-grow:0;
}
.w-embed-youtubevideo {
    width: 100%;
    background-image: url(https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg);
    background-position: 50%;
    background-size: cover;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
}
.youtube-video {
  object-fit: fill;
  border: 15px solid #28eea7;
  border-radius: 20px;
  padding-right: 20%;
}

/*After this line come the third section style*/
.third-section{
  margin: 0;
}
.third-section-body{
max-width: 100%;
flex-direction: column;
padding-left: 70px;
padding-right: 70px;
display: flex;
box-sizing: border-box;
background-color: #fff;
border: 1px solid salmon;
}
.cells-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.milestone-container {
  display: flex;
  background-color: #f1f2f3;
  border-radius: 20px;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  display: flex;
}