body{
  margin: 0;
  padding: 0;
}
:root {
--pink:#fb508eed;
--purple: #9864daed;
--aqua:#28eea7ed;
}
.header-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  position: relative;
}
.left-header{
  display: flex;
  width: 50%;
  flex-direction: column;
  position: relative;
  background-image: url(assets/left-side.png);
  background-size:cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.right-header{
  display: flex;
  width: 50%;
  flex-direction: column;
  background: black;
}

@keyframes colorChange {
  0%   { background-color: var(--aqua); }
  10%  { background-color: var(--aqua); }
  20%  { background-color: var(--aqua); }
  30%  { background-color: var(--aqua); }
  40%  { background-color: var(--purple);}
  50%  { background-color: var(--purple); }
  60%  { background-color: var(--purple); }
  70%  { background-color: var(--purple); }
  80%  { background-color: var(--pink); }
  90%  { background-color: var(--pink); }
  100%  { background-color: var(--pink); }
}
.layer{
  position: absolute;
  top:0;
  right:0 ;
  bottom:0 ;
  left: 0;
  animation: colorChange 8s infinite;
  filter:opacity(0.7)
}
.back{
  max-height: 100%;
  max-width: 100%;
}
.logo{
  position:absolute;
  z-index: 2;
}
.nav{
  position: relative;
  z-index: 3;
}
.details{
  width: 100%;
  height: 40vh;
  max-height: 100vh;
  max-width: 670px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 70px;
  padding-right: 50px;
  display: flex;
  z-index: 5;
  padding-top: 10px;
  border: 5px solid black;
}

.hero-title-1 {
  text-align: right;
  text-transform: uppercase;
  flex: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Noto Sans Mono, sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 1;
}
.sub-h1-bg {
  color: #fcfcfd;
  background-color: #363738;
  justify-content: flex-end;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 24px;
  line-height: 2.5;
  display: inline;
  font-family: Noto Sans Mono, sans-serif;
}